---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

import { Image } from 'astro:assets';
import ActionImage from '../assets/jeanine-at-work.jpg';
---

<BaseLayout title="Over mij | Jeanine Hakvoort" description="Over Jeanine Hakvoort">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Over mij"
				tagline="Wat leuk dat je interesse toont. Hier wat meer over mij!"
			>
				<Image
					width="1553"
					height="873"
					src={ActionImage}
					alt="Jeanine aan het werk met een collega"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Wie ben ik?</h2>
				<div class="content">
					<p>
						Mijn reis begon in de wereld van communicatie, maar mijn liefde voor design en mijn interesse in development leidde me naar de wereld van UI/UX Design. De ervaring die ik de afgelopen jaren heb opgedaan in deze diverse creatieve disciplines maken me een veelzijdige allrounder die graag door wil leren. De afgelopen jaren heb ik op al deze gebieden ervaring opgedaan. 
					</p>
					<br/>
					<p>
						Mijn passie ligt bij het ontwerpen van betekenisvolle digitale ervaringen en door mijn ervaring in zowel communicatie, design en development ben ik in staat om vanuit verschillende perspectieven naar een project te kijken. Hierdoor kan ik oplossingen bedenken die zowel technisch haalbaar zijn en er visueel strak en goed uitzien. En om ervoor te zorgen dat ik up-to-date ben, blijf ik graag leren en ben ik altijd op zoek naar nieuwe manieren om mijn kennis en vaardigheden uit te breiden.
					</p>
					<br/>
					<p>
						In mijn vrije tijd ben ik ook graag creatief bezig. Ik speel graag D&D met vrienden, zit bij een improvisatietheatergroepje en lees en haak graag!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		width: 100%;
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			/* grid-column: 1 / 4; */
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
